.container {
  padding-left: 2rem;
}

.user-profile-nav {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.markdown-body img {
    max-height: 400px;
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}